@using System.Threading.Tasks
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientGrantTypeViewModels
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientPostLogoutRedirectUriViewModels
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientRedirectUriViewModels
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientScopeViewModels
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientSecretViewModels
@using JezekT.AspNetCore.IdentityServer4.WebApp.Models.ClientViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model ClientViewModel

@inject IViewLocalizer Localizer
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    var sharedLocalizer = StringLocalizerFactory.Create("Views.Shared.SharedResources", null);
    var stringLocalizer = StringLocalizerFactory.Create("Views.Clients.SharedResources", null);
    ViewData["Title"] = sharedLocalizer["DeleteTitle"];
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <h4>@stringLocalizer["EntityName"]</h4>
</div>

<div class="text-warning">
    <p>
        @sharedLocalizer["DeleteQuestion"]
    </p>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowOfflineAccess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowOfflineAccess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlwaysSendClientClaims)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlwaysSendClientClaims)
        </dd>
    </dl>
    <br />
    <div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#allowedScopes">@stringLocalizer["AllowedScopes"]</a></li>
        <li><a data-toggle="tab" href="#grantTypes">@stringLocalizer["GrantTypes"]</a></li>
        <li><a data-toggle="tab" href="#redirectUris">@stringLocalizer["RedirectUris"]</a></li>
        <li><a data-toggle="tab" href="#postRedirectUris">@stringLocalizer["PostRedirectUris"]</a></li>
        <li><a data-toggle="tab" href="#clientSecrets">@stringLocalizer["ClientSecrets"]</a></li>
    </ul>
    <br />
        <div class="tab-content">
            <div id="allowedScopes" class="tab-pane fade in active">
                <div class="col-md-12">
                    <data-table model-type="@typeof(ClientScopeViewModel)" json-data="@Model.AllowedScopesJson" server-side="false" class="table table-striped table-bordered" table-id="allowedScopesTable">
                        <data-table-columns>
                            <data-table-column property-name="Scope" />
                        </data-table-columns>
                    </data-table>
                </div>
            </div>
            <div id="grantTypes" class="tab-pane fade in">
                <div class="col-md-12">
                    <data-table model-type="@typeof(ClientGrantTypeViewModel)" json-data="@Model.AllowedGrantTypesJson" server-side="false" class="table table-striped table-bordered" table-id="grantTypesTable">
                        <data-table-columns>
                            <data-table-column property-name="GrantType" />
                        </data-table-columns>
                    </data-table>
                </div>
            </div>
            <div id="redirectUris" class="tab-pane fade in">
                <div class="col-md-12">
                    <data-table model-type="@typeof(ClientRedirectUriViewModel)" json-data="@Model.RedirectUrisJson" server-side="false" class="table table-striped table-bordered" table-id="redirectUrisTable">
                        <data-table-columns>
                            <data-table-column property-name="RedirectUri" />
                        </data-table-columns>
                    </data-table>
                </div>
            </div>
            <div id="postRedirectUris" class="tab-pane fade in">
                <div class="col-md-12">
                    <data-table model-type="@typeof(ClientPostLogoutRedirectUriViewModel)" json-data="@Model.PostLogoutRedirectUrisJson" server-side="false" class="table table-striped table-bordered" table-id="postRedirectUrisTable">
                        <data-table-columns>
                            <data-table-column property-name="PostLogoutRedirectUri" />
                        </data-table-columns>
                    </data-table>
                </div>
            </div>
            <div id="clientSecrets" class="tab-pane fade in">
                <div class="col-md-12">
                    <data-table model-type="@typeof(ClientSecretViewModel)" json-data="@Model.ClientSecretsJson" server-side="false" class="table table-striped table-bordered" table-id="clientSecretsTable">
                        <data-table-columns>
                            <data-table-column property-name="Type" />
                            <data-table-column property-name="Description" />
                            <data-table-column property-name="Expiration" />
                        </data-table-columns>
                    </data-table>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <form asp-action="Delete">
        <div>
            <input type="submit" value="@sharedLocalizer["Delete"]" class="btn btn-default" />
        </div>
    </form>
    <br/>
    <a asp-action="Index" class="btn-bracketed">@sharedLocalizer["ToList"]</a>
</div>
